<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Thực đơn</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  <link rel="stylesheet" href="component/AlertifyJS/build/css/alertify.css" />
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="css/swiper-bundle.css" />
  <link rel="stylesheet" href="css/main.css" />
  <link rel="manifest" href="/manifest.json" />
  <meta name="theme-color" content="#2196f3" />
  <!-- ios Support -->
  <link rel="apple-touch-icon" href="assets/images/fasting-96x96.png" />
  <meta name="apple-mobile-web-app-statuc-bar" content="#aa7700" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137426789-2"></script>-->
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-137426789-2");
  </script>
</head>

<body>
  <div class="wrapper">
    <%- include('component/header'); %>
      <section class="food">
        <!-- form nhập thông tin người dùng để tính lượng calo hợp lí  -->
        <div class="food__calcul">
          <h2 class="food__calculTitle">Nhập thông tin người dùng</h2>
          <div class="food__calculBody">
            <!-- Nhập tuổi -->
            <div class="food__calculAge">
              <label for="">Tuổi:</label>
              <input type="number" id="age">
            </div>
            <!-- Chọn giới tính -->
            <div class="food__calculGender">
              <label class="gender" for="">Giới tính:</label>
              <div class="formGender" id="form-gender">
                <div class="male">
                  <input type="radio" name="gender" id="male" checked="checked">
                  <label for="male">Nam</label>
                </div>
                <div class="female">
                  <input type="radio" name="gender" id="female">
                  <label for="female">Nữ</label>
                </div>
              </div>
            </div>
            <!-- Nhập cân nặng -->
            <div class="food__calculWeight">
              <label for="">Cân nặng:</label>
              <input type="number" id="weight">
            </div>
            <!-- Nhập chiều cao  -->
            <div class="food__calculHeight">
              <label for="">Chiều cao:</label>
              <input type="number" id="height">
            </div>
            <!-- Chọn hoạt động hằng ngày của người dùng -->
            <div class="food__calculActivity">
              <label for="list">Hoạt động</label>
              <select name="activity" id="activities">
                <option selected value="1">Ít vận động (ít hoặc không tập thể dục + làm việc văn phòng)</option>
                <option value="2">Hoạt động nhẹ (tập thể dục nhẹ 1-3 ngày / tuần)</option>
                <option value="3">Tập thể dục vừa phải (tập thể dục vừa phải 3-5 ngày / tuần)</option>
                <option value="4">Tập thể dục nặng (tập thể dục nặng 6-7 ngày / tuần)</option>
                <option value="5">Tập thể dục rất căng thẳng hàng ngày hoặc công việc thể chất, nặng nhọc</option>
              </select>
            </div>
            <!-- Tính toán lượng calo  -->
            <button class="food__calculBtn">Tính lượng calo</button>

            <!-- Thông báo yêu cầu người dùng nhập đủ các trường để tính toán  -->
            <div class="food_notification" style="display: none;">
              <div class="notification">
                <div class="text">
                  Bạn hãy nhập đủ các trường.
                </div>
              </div>
            </div>

            <!-- <div id="loading" style="justify-content: center">
              <img src="./assets/images/Loading.gif" alt="" class="imgLoading">
            </div> -->

            <!-- Kết quả tính toán được lượng calo hợp lí -->
            <div id="resultCalcul" style="display: none;">
              <div id="results" class="results">
                <h4>Tổng lượng calo</h4>
                <div class="form-group">
                  <div class="input-group">
                    <div id="total-calories"></div>
                    <!-- <input type="number" class="form-control" id="total-calories" disabled> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="food__card">
          <h2 class="food__cardTitle">Thực đơn chọn món</h2>
          <!-- Lượng calo mục tiêu và đạt được của người dùng -->
          <div class="food_detailCalo">
            <h3>Chi tiết lượng calo</h3>
            <div class="food__cardTarget">
              <div class="target">
                <div class="valueTarget" data-target="<%= user.caloTarget %>">
                  <%= user.caloTarget %>
                </div>
                <div class="nameTarget">Mục tiêu</div>
              </div>
              <div class="operator">-</div>
              <div class="ate">
                <div class="valueAte">0</div>
                <div class="nameAte">Thức ăn</div>
              </div>
              <div class="operator">=</div>
              <div class="rest">
                <div class="valueRest">0</div>
                <div class="nameRest">Còn lại</div>
              </div>
            </div>
          </div>

          <!-- Phần hiển thị các bữa ăn gồm sáng trưa tối và các món ăn đã chọn  -->
          <div class="food__cardBody">
            <!-- Buổi sáng -->
            <div class="food__buoi">
              <div class="food__buoiTitle">Buổi sáng</div>
              <% foods.forEach(function(food) { %>
                <% if(food.buaId==='morning' ){ %>
                  <div class="food__cardItem" data-cal="<%= food.cal %>" data-protein="<%= food.protein %>"
                    data-fat="<%= food.fat %>" data-carb="<%= food.carb %>" data-quantity="<%= food.quantity %>">
                    <div class="food__cardName">
                      <%= food.name %>
                    </div>
                    <div class="food__cardQuatity">
                      Số lượng: <%= food.quantity %> ( x <%= food.unit %>)
                    </div>
                    <div class="food__cardInfo">
                      <div class="food__cardCal food_info">
                        Cal: <%= Number.parseFloat(food.cal * food.quantity).toFixed(1) %>
                      </div>
                      <div class="food__cardProtein food_info">
                        Protein: <%= Number.parseFloat(food.protein * food.quantity).toFixed(1) %>
                      </div>
                      <div class="food__cardFat food_info">
                        Fat: <%= Number.parseFloat(food.fat * food.quantity).toFixed(1) %>
                      </div>
                      <div class="food__cardCarb food_info">
                        Carb: <%= Number.parseFloat(food.carb * food.quantity).toFixed(1) %>
                      </div>
                    </div>
                    <div data-id="<%= food._id %>" class="food_cardDelete">Xóa</div>
                  </div>
                  <% } %>
                    <% }); %>
                      <div class="food__iconAddFood" id="addFood" data-bua="morning">Chọn đồ ăn</div>
            </div>

            <!-- Buổi trưa  -->
            <div class="food__buoi">
              <div class="food__buoiTitle">Buổi trưa</div>
              <% foods.forEach(function(food) { %>
                <% if(food.buaId==='noon' ){ %>
                  <div class="food__cardItem" data-cal="<%= food.cal %>" data-protein="<%= food.protein %>"
                    data-fat="<%= food.fat %>" data-carb="<%= food.carb %>" data-quantity="<%= food.quantity %>">
                    <div class="food__cardName">
                      <%= food.name %>
                    </div>
                    <div class="food__cardQuatity">
                      Số lượng: <%= food.quantity %> ( x <%= food.unit %>)
                    </div>
                    <div class="food__cardInfo">
                      <div class="food__cardCal food_info">
                        Cal: <%= Number.parseFloat(food.cal * food.quantity).toFixed(1) %>
                      </div>
                      <div class="food__cardProtein food_info">
                        Protein: <%= Number.parseFloat(food.protein * food.quantity).toFixed(1) %>
                      </div>
                      <div class="food__cardFat food_info">
                        Fat: <%= Number.parseFloat(food.fat * food.quantity).toFixed(1) %>
                      </div>
                      <div class="food__cardCarb food_info">
                        Carb: <%= Number.parseFloat(food.carb * food.quantity).toFixed(1) %>
                      </div>
                    </div>
                    <div data-id="<%= food._id %>" class="food_cardDelete">Xóa</div>
                  </div>
                  <% } %>
                    <% }); %>
                      <div class="food__iconAddFood" id="addFood" data-bua="noon">Chọn đồ ăn</div>
            </div>

            <!-- Buổi tối  -->
            <div class="food__buoi">
              <div class="food__buoiTitle">Buổi tối</div>
              <% foods.forEach(function(food) { %>
                <% if(food.buaId==='night' ){ %>
                  <div class="food__cardItem" data-cal="<%= food.cal %>" data-protein="<%= food.protein %>"
                    data-fat="<%= food.fat %>" data-carb="<%= food.carb %>" data-quantity="<%= food.quantity %>">
                    <div class="food__cardName">
                      <%= food.name %>
                    </div>
                    <div class="food__cardQuatity">
                      Số lượng: <%= food.quantity %> ( x <%= food.unit %>)
                    </div>
                    <div class="food__cardInfo">
                      <div class="food__cardCal food_info">
                        Cal: <%= Number.parseFloat(food.cal * food.quantity).toFixed(1) %>
                      </div>
                      <div class="food__cardProtein food_info">
                        Protein: <%= Number.parseFloat(food.protein * food.quantity).toFixed(1) %>
                      </div>
                      <div class="food__cardFat food_info">
                        Fat: <%= Number.parseFloat(food.fat * food.quantity).toFixed(1) %>
                      </div>
                      <div class="food__cardCarb food_info">
                        Carb: <%= Number.parseFloat(food.carb * food.quantity).toFixed(1) %>
                      </div>
                    </div>
                    <div data-id="<%= food._id %>" class="food_cardDelete">Xóa</div>
                  </div>
                  <% } %>
                    <% }); %>
                      <div class="food__iconAddFood" id="addFood" data-bua="night">Chọn đồ ăn</div>
            </div>

          </div>
        </div>
      </section>
  </div>


  <div class="modal text">
    <div class="modal__container modal__food">
      <div class="modal__icon text"></div>
      <div class="modal__body" style="width: 100%;">

        <!-- Modal hiển thị các loại đồ ăn  -->
        <div class="modal_BodyCategories">
          <h2 class="modal__title">Loại đồ ăn</h2>
          <div class="modal__categories">
            <% categories.forEach(function(category) { %>
              <div data-category="<%= category %>" class="modal__category">
                <div class="modal__cardName">
                  <%= category %>
                </div>
              </div>
              <% }); %>
          </div>
        </div>

        <!-- Modal hiển thị các đồ ăn thuộc loại đã chọn  -->
        <div class="modal__foods">
          <div>
            <div class="modal__foodsTitle modal__title"></div>
            <div class="formSearchFood">
              <span class="categoriesFood">Loại đồ ăn</span>
              <input type="search" class="searchFood" name="searchFood" id="searchFood">
              <button class="btnSearch">Tìm kiếm</button>
            </div>
          </div>
          <div class="modal__foodsCards">
          </div>
        </div>

      </div>
    </div>
  </div>


  <!-- import edit account modal -->
  <%- include('component/modalEditAccount');%>
    <!-- // import footer For Mobile -->
    <%- include('component/footerMobile');%>
      <!-- <script src="js/main.js"></script> -->
      <!-- import thu vien  -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
      <script src="component/AlertifyJS/build/alertify.js"></script>
      <!--My JS-->
      <script src="js//pwa/pw.js"></script>
      <script src="js/logout.js"></script>
      <script src="js/swiper-bundle.js"></script>

      <script src="js/modal_food.js"></script>
      <script src="js/editAccount.js"></script>
      <script src="js/updateUser.js"></script>
</body>

</html>