<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mine</title>
    <link rel="stylesheet" href="css/main.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/cdn.chart.js"></script>
    <link rel="manifest" href="manifest.json" />
    <meta name="theme-color" content="#2196f3" />
    <!-- ios Support -->
    <link rel="apple-touch-icon" href="assets/images/fasting-96x96.png" />
    <link rel="stylesheet" href="component/AlertifyJS/build/css/alertify.css" />
    <meta name="apple-mobile-web-app-statuc-bar" content="#aa7700" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137426789-2"></script>-->
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-137426789-2");
    </script>
  </head>
  <body>
    <div class="wrapper">
      <!-- // import Header -->
      <%- include('component/header'); %>

      <section class="mine">
        <div class="mine__cards">
          <div class="mine__card">
            <div class="mine__header">
              <h4 class="mine__title">Tổng thời gian nhịn ăn</h4>
              <div class="mine__timeTotal">
                <span><%= user.totalFastingDays%></span> ngày
              </div>
            </div>
            <div class="mine__timeLine"></div>
            <div class="mine__subCard">
              <a href="" class="mine__subHeader">
                <div class="mine__subTitle">
                  Ăn chay <%= user.plan.planName%>
                </div>
                <div class="mine__iconArrow">
                  <img src="assets/icon-arrow.svg" alt="" />
                </div>
              </a>
              <div class="mine__timerWrapper">
                <div class="mine__timer">
                  <%= lastedTimeLine.totalFastHours%>
                </div>
                <div class="mine__timerIcon">
                  <img src="assets/icon-orange.svg" alt="" />
                </div>
              </div>
              <div class="mine__timeContainer">
                <div class="mine__time">
                  <div class="mine__timeStart">Bắt đầu</div>
                  <div class="maine__timeNumber">
                    <%= formatDate(lastedTimeLine.timeStart) %>
                  </div>
                </div>
                <div class="mine__time">
                  <div class="mine__timeEnd">Kết thúc</div>
                  <div class="maine__timeNumber">
                    <%= formatDate(lastedTimeLine.timeEnd)%>
                  </div>
                </div>
              </div>
            </div>
            <a href="timeline" class="mine__timeLineLink"
              >Mốc thời gian <img src="assets/icon-next.svg" alt=""
            /></a>
          </div>

          <div class="mine__card">
            <div class="mine__cardIconWrapper">
              <div class="mine__cardIcon">
                <div class="mine__cardIconImage">
                  <img src="assets/icon-tele.svg" alt="" />
                </div>
                <h5 class="mine__cardIconTitle">Tích lũy</h5>
                <p class="mine__cardIconDesc">giờ</p>
                <span class="mine__cardIconNumber"><%= user.cumulative%></span>
              </div>
              <div class="mine__cardIcon">
                <div class="mine__cardIconImage two">
                  <img src="assets/icon-repeat.svg" alt="" />
                </div>
                <h5 class="mine__cardIconTitle">Tiếp diễn</h5>
                <p class="mine__cardIconDesc">ngày</p>
                <span class="mine__cardIconNumber"><%= user.continuous%></span>
              </div>
              <div class="mine__cardIcon">
                <div class="mine__cardIconImage three">
                  <img src="assets/icon-clock.svg" alt="" />
                </div>
                <h5 class="mine__cardIconTitle">Nhanh nhất</h5>
                <p class="mine__cardIconDesc">giờ</p>
                <span class="mine__cardIconNumber"><%= user.longestFast%></span>
              </div>
              <div class="mine__cardIcon">
                <div class="mine__cardIconImage four">
                  <img src="assets/icon-crown.svg" alt="" />
                </div>
                <h5 class="mine__cardIconTitle">Danh hiệu</h5>
                <p class="mine__cardIconDesc">Nhịn ăn 1 tuần</p>
                <a href="" class="mine__cardIconLink">Nhiều hơn</a>
              </div>
            </div>
          </div>

          <div class="mine__card">
            <div class="mine__header">
              <h4 class="mine__title">Ăn chay gần đây</h4>
            </div>
            <div class="mine__note">
              <p class="mine__noteTitle">Đã hoàn thành</p>
              <p class="mine__noteTitle two">24 giờ</p>
            </div>
            <div class="mine__chart">
              <div>
                <canvas id="myChart"></canvas>
              </div>
              <script>
                // <block:setup:1>
                const label1 = [
                  "January",
                  "February",
                  "March",
                  "April",
                  "May",
                  "June",
                ];
                let data1 = {
                  labels: label1,
                  datasets: [
                    {
                      label: "Nhịn ăn gần đây",
                      backgroundColor: "rgb(255, 99, 132)",
                      borderColor: "rgb(255, 99, 132)",
                      data: [0, 10, 5, 2, 200, 30, 45],
                    },
                  ],
                };
                // </block:setup>

                // <block:config:0>
                let config1 = {
                  type: "line",
                  data1,
                  options: {},
                };
                // </block:config>

                var myChart1 = new Chart(
                  document.getElementById("myChart"),
                  config1
                );
              </script>
            </div>
          </div>

          <div class="mine__card">
            <div class="mine__header">
              <h4 class="mine__title">Cân nặng:</h4>
              <div class="mine__goal">
                Mục tiêu: <%= user.goalWeight %> kg
                <img src="assets/icon-edit-black.svg" alt="" />
              </div>
            </div>
            <div class="mine__choose">
              <form action="">
                <select name="" id="">
                  <option value="">kg</option>
                  <option value="">Ibs</option>
                </select>
              </form>
              <div class="mine__chooseIcon">
                <img src="assets/icon-plus.svg" alt="" />
              </div>
            </div>
            <div class="mine__chart">
              <div>
                <canvas id="myChart2"></canvas>
              </div>
              <script>
                // <block:setup:1>
                const label2 = [
                  "January",
                  "February",
                  "March",
                  "April",
                  "May",
                  "June",
                ];
                let data2 = {
                  labels: label2,
                  datasets: [
                    {
                      label: "Nhịn ăn gần đây",
                      backgroundColor: "rgb(255, 99, 132)",
                      borderColor: "rgb(255, 99, 132)",
                      data: [0, 10, 5, 2, 20, 30, 45],
                    },
                  ],
                };
                // </block:setup>

                // <block:config:0>
                let config2 = {
                  type: "line",
                  data2,
                  options: {},
                };
                // </block:config>

                module.exports = {
                  actions: [],
                  config2: config2,
                };
              </script>
              <script>
                // === include 'setup' then 'config' above ===

                var myChart2 = new Chart(
                  document.getElementById("myChart2"),
                  config2
                );
              </script>
            </div>
          </div>

          <div class="mine__card">
            <div class="mine__header">
              <h4 class="mine__title">Uống nước</h4>
              <div class="mine__headerIcon">
                <img src="assets/icon-plus.svg" alt="" />
              </div>
            </div>
            <div class="mine__note">
              <p class="mine__noteTitle">Đã hoàn thành</p>
              <p class="mine__noteTitle two">24 giờ</p>
            </div>
            <div class="mine__chart">
              <div>
                <canvas id="myChart3"></canvas>
              </div>
              <script>
                // <block:setup:1>
                const label3 = [
                  "January",
                  "February",
                  "March",
                  "April",
                  "May",
                  "June",
                ];
                let data3 = {
                  labels: label3,
                  datasets: [
                    {
                      label: "Lượng nước uống gần đây",
                      backgroundColor: "rgb(255, 99, 132)",
                      borderColor: "rgb(255, 99, 132)",
                      data: [0, 100, 5, 2, 200, 30, 45],
                    },
                  ],
                };
                // </block:setup>

                // <block:config:0>
                let config3 = {
                  type: "line",
                  data3,
                  options: {},
                };
                // </block:config>

                module.exports = {
                  actions: [],
                  config3: config3,
                };
              </script>
              <script>
                // === include 'setup' then 'config' above ===

                var myChart3 = new Chart(
                  document.getElementById("myChart3"),
                  config3
                );
              </script>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- import edit account modal -->
    <%- include('component/modalEditAccount');%>
    <!-- // import footer For Mobile -->
    <%- include('component/footerMobile');%>
    <script src="js/main.js"></script>
    <!-- import thu vien  -->
    <script src="component/jquery/dist/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="component/AlertifyJS/build/alertify.js"></script>
    <!-- My Js -->
    <script src="js/pwa/pw.js"></script>
    <script src="js/chartEat.js"></script>
    <script src="js/chart.min.js"></script>
    <script src="js/logout.js"></script>
    <script src="js/editAccount.js"></script>
    <script src="js/updateUser.js"></script>
  </body>
</html>
